/* header.scss --- layout for header
   Commentary:
    This file contains properties for the header.
   Code:
*/

footer {
  margin: 3em 0 0;
  padding: 1em 0 0;
}

/*! Unordered list of social medias */
.social {
  list-style: none;
  margin: 0;
  text-align: center;
}

/*! Individual social media */
.social-item {
  display: inline;
  margin-right: 1em;

  a {
    transition-duration: $transition-duration;
  }
}

.social-item a:hover, a:hover .social-icon {
  color: $secondary-color;
  text-decoration: none;
}

.social-icon {
  padding-right: 0.15em;
}

.social-icon:last-of-type {
  margin-right: 0;
  transition-duration: $transition-duration;
}

/* header.scss ends here */