/* main.scss --- Project One of Udacity Front End Web Developper
   Commentary: This is the grid based version of project 1 using
     Bootstrap framework. Flexbox version was not successful, since
     flexbox is best used with fixed width.

     Q1: Should I use a smaller font-size for the projects' titles?
     OK

     DONE: :target doesn't seem to work when I hover over twins
      elements. No borders are shown in Firefox.

     DONE: Chrome doesn't always resize correctly when using
       adaptative view. Maybe just a Chrome nightly bug.

     DONE: Since the layout becomes one column when mobile, images
      become significantly bigger, thus rendering the different
      sources useless.
         - Images on mobile should be served smaller
            NOTE: Why then hdpi images?
         - Since old browsers should have a slower network, serve them
            small images. Achievied with img in picture

     DONE: Make images more responsive
     DONE: Remove redundant properties
        - Use shorthand properties
     TODO:
        - Remove unused CSS properties
   Code:
*/

@import 'fonts';
@import 'variables';
@import 'header';
@import 'works';
@import 'disabled';
@import 'footer';

/*!  Borders are included when calculating box's size */
* {
  box-sizing: border-box;
  color: $default-color;
  font-family: $default-ff;
}

body {
  background-color: $body-bgc;
}

.page {
  background-color: $page-bgc;
  padding-bottom: $page-padding-unit;
  padding-top: $page-padding-unit;
}

/*!  Catch all to not allow these to overflow */
img,
object,
video {
  height: auto;
  max-width: 100%;
}

/*!  Title for rows */
h2 {
  color: $h2-color;
  font-size: $h2-fs;
  font-weight: $h2-fw;
  margin-left: $h2-indent;
  text-align: center;
}

/*!  Title for works */
h3 {
  color: $h3-color;
  font-size: $h3-fs - 10px;
  text-transform: uppercase;
}

/*!  By default, it's visible unless it's medium+ screens */
.to-top {
  background-color: $totop-bgc;
  border: $totop-bw solid $totop-bc;
  border-radius: $totop-br;
  bottom: 3vw;
  box-shadow: $totop-box-shadow;
  display: block;
  height: $totop-size;
  opacity: 0.5;
  position: fixed;
  right: 4vw;
  width: $totop-size;
  z-index: 999999;

  /*!  SVG arrow icon */
  svg {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 0.65 * $totop-size;
  }
}

/*!  Personnal breakpoint for x-small screens */
/*!  Necessary if we want to keep bootstrap */
@media screen and (max-width: 768px) {
  .items {
    margin: 0 auto;
    max-width: 100%;
    width: 660px;
  }
}

/*!  Bigger screens (tablet+) */
@media screen and (min-width: 768px) {
  .page {
    border: $page-border;
    box-shadow: $page-box-shadow;
    box-sizing: content-box;
    margin-bottom: $page-margin-unit;
    margin-top: $page-margin-unit;
}

  #logo {
    border-width: 9px;
    font-size: 48px;
    margin: 1vh 0;
    padding: 16px;
  }

  /*!  H1 title */
  .tpitle {
    font-size: $h1-lg-fs;
    margin: $h1-lg-margin;
  }

  h2 {
    text-align: left;
  }

  h3 {
    font-size: $h3-fs;
  }

  .to-top {
    display: none;                /*!  Don't display on big screens */
  }
  /*!  SVG image */
}

/*!  This section remove the page's border when it overflows */
/*!  ======================================================================== */

/*!  1. large devices */
/*!  2. medium devices */
/*!  3. small devices */
/*!  x-small & xx-small don't use a border */
@media (min-width: map-get($large-devices, "min")) and (max-width: map-get($large-devices, "min") - 1 + $container-padding + $page-bw*2),
(min-width: map-get($medium-devices, "min")) and (max-width: map-get($medium-devices, "min") - 1 + $container-padding + $page-bw*2),
(min-width: map-get($small-devices, "min")) and (max-width: map-get($small-devices, "min") - 1 + $container-padding + $page-bw*2)
{
  .page {
    border-width: 0;
    box-sizing: border-box;
  }
}


/*!  main.scss ends here */
